

.BadTitle {
    text-align: center;
}

.Toolbar {
   margin-left: 5vw;
   margin-right: 5vw; 
}

.InputArea{
    margin: 25px;
}



.Chart {
    min-height: 50vh;
    object-fit: contain;
}

.ChartContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}